---
---

@import "{{ site.theme }}";
 h1 {
   font-family:  "Segoe UI";
   font-weight: 100;
 }
h2 {
   font-family:  "Segoe UI";
   font-weight: 100;
 }

header {
 background-color: argb(0, 0, 0, 0.3);
}
.headlink {
   font-family:  "Segoe UI Light";
   font-weight: 200;
   padding: 0px 10px;
  color: black;
  mix-blend-mode: difference;
}
.para {
   font-family:  "Segoe UI";
   font-weight: 100;
}
.quote {
   font-family:  "Segoe UI";
   font-weight: 100;
   font-style: italic;
}
.page-header {
  
}
.main-content h2 {
 color: black;
}

.main-content h1 {
 color: black;
}

.main-content h3 {
 color: black;
}

.main-content h4 {
 color: black;
}

#homeimagediv {
 background-image: url('../../homeimage.png') no-repeat center;
 background-repeat:no-repeat;
 background-size:contain;
 width:1200px;
 height: 500px;
}
