---
---

@import "{{ site.theme }}";
 h1 {
   font-family:  "Segoe UI";
   font-weight: 100;
 }
h2 {
   font-family:  "Segoe UI";
   font-weight: 100;
 }
.headlink {
   font-family:  "Segoe UI";
   font-weight: 100;
   color: #fffff0;
   padding: 0px 10px;
}
.para {
   font-family:  "Segoe UI";
   font-weight: 100;
}
.quote {
   font-family:  "Segoe UI";
   font-weight: 100;
   font-style: italic;
}
.page-header {
  background-image: url('../../uiucquad2.png');
}
header {
 background-color: argb(0, 0, 0, 0.3);
}
