---
---

@import "{{ site.theme }}";
 h1 {
   font-family:  "Segoe UI";
   font-weight: 100;
 }
h2 {
   font-family:  "Segoe UI";
   font-weight: 100;
 }
.headlink {
   font-family:  "Segoe UI";
   font-weight: 500;
   padding: 0px 10px;
  color: white;
  mix-blend-mode: difference;
}
.para {
   font-family:  "Segoe UI";
   font-weight: 100;
}
.quote {
   font-family:  "Segoe UI";
   font-weight: 100;
   font-style: italic;
}
.page-header {
  background-image: url('../../uiucquadbw1.jpg');
}
header {
 background-color: argb(0, 0, 0, 0.3);
}
.main-content h2 {
 color: black;
}

.main-content h1 {
 color: black;
}

.main-content h3 {
 color: black;
}

.main-content h4 {
 color: black;
}
